{% extends "layout.html" %}

{% block page_title %}
    Applicants
{% endblock %}

{% block content %}
    <div>
        <a href="/add-applicant">Add Applicant</a>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Application Code</th>
            </tr>
            {% for applicant in applicants %}
            <tr>
                <td>{{ applicant["first_name"] }}</td>
                <td>{{ applicant["last_name"] }}</td>
                <td>{{ applicant["phone_number"] }}</td>
                <td>{{ applicant["email"] }}</td>
                <td><a href= "/applicant/{{ applicant.get('application_code') }}">{{ applicant["application_code"] }}</a></td>
                <td>
                    <form id="delete-applicant" action="/applicants/{{ applicant.get('application_code') }}/delete" method="post">
                        <a href="javascript:;" onclick="parentNode.submit()">Delete Applicant</a>
                    </form>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="/delete-applicant" method="post">
        <label for="email-ending-input">Delete Applicant With E-mail Ending With:</label>
        <input type="text" id="email-ending-input" name="email-ending">
        <input type="submit" value="DELETE">
    </form>
    {% include 'footer.html' %}
{% endblock %}
