{% extends "layout.html" %}


{% block content %}
    <nav class="menu">
        <h3>Choose a list</h3>
        <ul>
            <li><a href="{{ url_for('mentors_list') }}">Mentors</a></li>
            <li><a href="{{ url_for('applicants_list') }}">Applicants</a>
        </ul>
    </nav>

    <section class="search">
        <h3>Search for applicants</h3>
    <form action="/applicants-phone">
        <label for="applicant-input">Applicant Name</label>
        <input id="applicant-input" type="text" name="applicant-name">
        <button type="submit">Search</button>
    </form>
    <form action="/applicants-phone">
        <label for="email-input">Applicant E-mail</label>
        <input type="text" id="email-input" name="email-ending">
        <input type="submit" value="Search">
    </form>
    </section>
{% endblock %}
